h1 {
  text-align: center;
  width: 50%;
  font-weight: 400;
  text-decoration: red underline wavy;
  letter-spacing: 15px;
  font-size: 50px;
  font-family: Futura, Arial;
}

p {
  text-align: left;
  line-height: 2;
}

a {
  text-decoration: none;
}
